@import "./actiontext.scss";

// shadow for text on landing page
.text-shadow { text-shadow: 1px 1px black; }

// light background
body { background: #f8f0e6; }

// for all purple brand elements
.purple-background { background-color: #563d7c; }

// white background for all tables
.table { background: white; }

.element {color: green;}

// hide simple_form checkmarks
.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

// highlight for drag and drop functionality
.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: yellow; }

// simple_form input for rich_text_area
trix-editor.form-control {
  height: auto;
}
