%hr
%footer.footer
  .container
    .row
      .col-md-4
        = link_to 'Teach on e-learning', new_course_path
        .row
        e-learning for business
        .row
        About us
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
        .row
        Careers
        .row
        Help and Support
        .row
        Blog
      .col-md-4
        Copyright
        © 
        = Time.now.year
        e-learning Sp. z o.o.
        .row
        .fa.fa-envelope
        = mail_to 'cpl.km.ua@gmail.com'
        .row
%br
